[buildout]
extends = eea.cfg

auto-checkout =
  esdrt.theme
  esdrt.content

[configuration]
eggs +=
  esdrt.theme
  esdrt.content

[sources]
esdrt.theme = git git@github.com:eea/esdrt.theme
esdrt.content = git git@github.com:eea/esdrt.content

esdrt.theme = git https://github.com/eea/esdrt.theme.git pushurl=git@github.com:eea/esdrt.theme
esdrt.content = git https://github.com/eea/esdrt.content.git pushurl=git git@github.com:eea/esdrt.content

[versions]
Products.Collage = 1.3.11